N8N/PhoMo_image-N8N.json
{
  "name": "PhoMo_image-N8N",
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-exp-image-generation",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-exp-image-generation"
        },
        "prompt": "=create an image about this ideas {{ $json.body.prompt }} and  make this with not text.",
        "options": {
          "sampleCount": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "e7362a74-1ca8-4502-a590-7bd89e686a4f",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "VWAMWc4ykQPn1EZX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/image-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b541fc65-2ca8-400b-b57d-af8a659e3ec8",
      "name": "Webhook",
      "webhookId": "ed745e6e-c296-4c06-a1d8-77decde544f3"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        368,
        0
      ],
      "id": "651f18a2-214d-4455-9a8f-867c651f9e0f",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Generate an image": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9ba6f2b3-a37f-4385-9b5f-15139d223f9f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33d3118021c86740b1a15c617d0d9d55d063df19d7374e00a1b8953c3734f20d"
  },
  "id": "XJSBjv4N9EUXaQbi",
  "tags": []
}